# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project-specific ignores
roberta-large-pii-finetuned/
pii-masking-300k/
